* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100px;
}

body {
    font-size: medium;
}

#wrapper {
    width: 7.5rem;
    margin: 0 auto;
    background: #F7F7F7
}

#banner {
    height: 4.42rem;
    background: url(../images/banner1.png) no-repeat 50%/contain;
    text-align: center
}

#banner .search {
    width: 80%;
    padding-top: 2.5rem;
    margin: 0 auto;
}

#banner .btn {
    width: 100%;
    border-radius: 1rem;
    padding: .2rem;
    background-color: white;
    color: #C6C6C6;
    font-size: .25rem;
    font-weight: bold;
}

#banner .btn span::before {
    content: " ";
    width: .36rem;
    height: .36rem;
    display: inline-block;
    vertical-align: middle;
    margin: -.05rem .05rem 0 0;
    background: url(../images/search.png) no-repeat 50%/contain;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#banner ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #FFF;
    font-size: .24rem;
    opacity: .6;
    line-height: .5rem
}

#banner li {
    /* float: left; */
}

#banner li span {
    padding: 0 .3rem;
}

#banner li:not(:first-child):before {
    content: "";
    border-left: 1px solid #FFF;
    border-right: 0px;
    height: 0.04rem
}

#Diseases {
    padding: .1rem;
    background-color: white;
    text-align: center;
}


/* 首页第二部分 */

#Diseases nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

#Diseases .box {
    width: 2.2rem;
    height: 1.93rem;
    padding: 1.03rem 0 0;
    margin: .05rem;
    background: no-repeat 50%/contain;
}

#Diseases .tumour {
    background-image: url(../images/tumour.png)
}

#Diseases .vaccine {
    background-image: url(../images/vaccine.png)
}

#Diseases .video {
    background-image: url(../images/video.png)
}

#Diseases .title {
    font-size: .28rem
}

#Diseases .content {
    font-size: .24rem;
    color: #999
}

.depart-list .depart-item {
    /* padding: .5rem; */
    width: 1.67rem;
    height: 1.68rem;
    font-size: .24rem;
    margin: .03rem .06rem;
}

.depart-list .depart-item img {
    width: .82rem;
    height: .82rem;
    margin: .21rem 0;
}

.more {
    color: #0ebc92;
    font-size: .28rem;
    padding: .34rem 0;
    text-align: center
}


/* 视频区域 */

#videos {
    margin-top: .2rem;
    background-color: white
}

.videos-list .videos-item {
    width: 4.64rem;
}

.videos-list .videos-item img {
    width: 3.7rem;
    height: 2.43rem;
    border: 1rem;
}

.videos-list {
    width: 7.5rem;
    display: flex;
    padding: .4rem 0 .2rem .2rem;
    overflow: scroll;
}

.videos-list .videos-item {
    margin: 0 .1rem;
}

.videos-list .videos-item .title {
    font-size: .28rem;
    font-weight: bolder
}

.videos-list .videos-item .name {
    font-size: .26rem;
    line-height: .5rem;
}

.videos-list .videos-item .tag {
    margin-left: .1rem;
}


/* 文章区域 */

#articles {
    margin-top: .2rem;
    background-color: white;
    /* padding: 0 .4rem; */
}

#articles nav {
    position: relative;
    height: .9rem;
}

#articles ul {
    display: flex;
}

#articles ul li {
    color: #80888c;
    font-size: .28rem;
    text-align: center;
    padding: .2rem 0;
    margin: 0 .5rem;
}

#articles ul .selected {
    font-weight: bolder;
    color: #0ebc92;
    border-bottom: .08rem solid #0ebc92;
}

#articles .search {
    width: .34rem;
    height: .34rem;
    position: absolute;
    top: 0;
    bottom: .08rem;
    right: .36rem;
    margin: auto;
    background: url(../images/search.png) no-repeat 50%/contain
}

#articles .articles-wrapper {
    padding: .2rem .3rem;
}

.articles-item {
    margin-bottom: .5rem;
}

.qa-title {
    font-size: .34rem;
    font-weight: bolder;
    /* line-height: .5rem; */
}

.qa-title img {
    width: .48rem;
    height: .48rem;
    vertical-align: middle;
    margin-bottom: .07rem;
}

.articles-item .author {
    margin-top: .1rem;
    font-size: .24rem;
    color: #b8bfc4;
}

.articles-item .author img {
    width: .36rem;
    height: .36rem;
    vertical-align: middle;
    margin-bottom: .02rem;
}

.qa-content {
    margin: .2rem 0;
    line-height: .5rem;
    font-size: .28rem;
    color: #848D90
}

.articles-item .tag-list {
    display: flex;
    flex-wrap: wrap;
    font-size: .24rem;
}

.tag {
    color: #b8bfc4;
    border: solid 1px;
    border-radius: .05rem;
    margin-left: 0;
    padding: 0 .1rem;
    margin: 0 .12rem .1rem 0;
}

.articles-item .paper-title {
    font-size: .34rem;
    margin-bottom: .2rem;
}

.articles-item .content-detail {
    display: flex;
}

.content-detail .img {
    margin-left: .14rem;
}

.content-detail .img img {
    width: 2.42rem;
    height: 1.56rem;
    border-radius: .08rem;
}