* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrapper {
    max-width: 600px;
    margin: 0 auto;
    background: #F7F7F7
}

#banner {
    height: 400px;
    background: url(../images/banner1.png);
    text-align: center
}

#banner .search {
    width: 80%;
    padding-top: 15em;
    margin: 0 auto;
}

#banner .btn {
    width: 100%;
    border-radius: 2em;
    padding: 1em;
    background-color: white;
    color: #C6C6C6;
    font-size: 1.5em;
    font-weight: bold;
}

#banner .btn span::before {
    content: url(../images/search.png);
    /* width: .1em;
    height: .1em; */
    display: inline-block;
    /* background: url(../images/search.png) */
    vertical-align: middle;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#banner ul {
    color: #FFF;
    font-size: 1.5em;
    opacity: .6;
    line-height: 3em
}

#banner li {
    float: left;
}

#banner li span {
    padding: 0 1em;
}

#banner li:not(:first-child):before {
    content: "";
    border-left: 1px solid #FFF;
    border-right: 0px;
    height: 0.4em
}

#Diseases {
    padding: 1em;
    background-color: white;
    text-align: center;
}

.box {
    border-radius: 1em;
    margin: .5em;
    background-color: #FDF5F1;
}


/* 首页第二部分 */

#Diseases nav {
    display: flex
}